footer {
	text-align: center;
	max-height: 20vh;
	margin-bottom: 1px;

	.social-media-text {
		color: black;
		padding: 30px;

		body.darkMode & {
			color: $other_white;
		}
	}

	.icon-media {
		display: flex;
		justify-content: center;
		align-content: center;

		.icon-media-item {
			width: 2rem;
			text-decoration: none;
			color: rgb(172, 172, 172);

			&:hover {
				transform: scale(2);

				body.darkMode & {
					color: $other_white;
				}
			}
		}
	}
}

//-MEDIA QUERIES-//
//Vista tablet 
@media screen and (min-width: $tablet) {
	footer {
		height: 15vh;
		padding: 4rem 8rem 4rem 8rem;
		display: flex;
		justify-content: space-between;
		border-bottom: 5px solid $violet;

		.social-media-text {
			padding: 0;
		}

		.social-media-cnt {
			display: flex;
		}
	}
}