footer {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
	border-bottom: 5px solid $purple;

    body.darkMode & {
		background-color: $backgroundBlack;
	}

    h4 {
        margin: 12.5% 0 6% 0;
    }

    .icon-media {
        display: flex;
        justify-content: space-evenly;
        width: 30%;

        a {
            &:hover {
                transform: scale(2);
            }
        }
    }

    p {
        margin: 12% 0 6.2% 0;
        font-family: $primary-font;
        font-size: 14px;
        color: black;
        letter-spacing: 0;
        line-height: 20px;

        body.darkMode & {
            color: white;
        }
    }
}


//Vista de escritorio
@media screen and (min-width: $tablet) {
    footer {
        width: 100%;
        flex-direction: row;
        justify-content: flex-start;

        h4 {
            margin: 50px 1.15% 50px 5%;
            flex-shrink: 0;
            font-size: 13px;
        }

        .icon-media {
            flex-shrink: 0;
            width: 10%;
        }

        p {
            margin: 0 27% 0 47%;
            font-size: 13px;
            flex-shrink: 0;
        }
	}
}

