* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	scroll-behavior: smooth;
}

body {
	font-family: $roboto;
	color: $violet;
	transition: $transition;

	&.darkMode {
		background-color: $gray_dark_back;
		color: $other_white;
	}
}

.gifos-word { 
	color: $green;
}

.button {
	display: block;
	width: fit-content;
	margin: 1rem auto;
	border: 1.8px solid $violet;
	border-radius: 2rem;
	padding: 1.2rem 1.3rem;
	text-decoration: none;
	font-family: $montserrat;
	text-align: center;
	font-weight: 500;
	font-size: 13px;
	color: $violet;
	cursor: pointer;

	&:hover {
		background-color: $violet;
		color: $other_white;
	}

	body.darkMode & {
		border: 2px solid $other_white;
		color: $other_white;

		&:hover {
			background-color: $other_white;
			color: #37383c;
		}
	}
}

.hidden {
	display: none;
}
