.mid-containers {
	padding-top: 10%;
	text-align: center;
	font-family: $montserrat;
	font-weight: 500;
}

.mid-title {
	margin-top: 0.5rem;
	margin-bottom: 2.8rem;
}

.mid-gap-img {
	margin-top: 3rem;
	margin-bottom: 2rem;
}
.mid-gap-text {
	padding: 0.5rem 0 3rem 0;
	color: $green;
	font-size: 16px;
}


//-MEDIA QUERIES-//
//Vista mobile 
@media screen and (min-width: $mobile) {
	.containers {
		padding-top: 20%;
	}
}

//Vista desktop
@media screen and (min-width: $desktop) {
	.containers {
		padding-top: 15%;
	}
}

//Vista general 
@media screen and (min-width: $generic) {
	.mid-containers {
		padding-top: 10%;
	}
}