.newgif-section {
	padding-top: 12%;
	position: relative;

	.newgif-cnt {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	//Camara
	.newgif-camera-cnt {
		max-width: 25%;
		position: relative;

		.camera-light {
			position: relative;
			top: -1rem;
		}
	}
	

	//New gif
	.cover-btns {
		width: 6.8rem;
		padding: 2%;
		position: absolute;
		display: flex;
		justify-content: space-between;
		top: 0;
		right: 0;

		.btns {
			width: 2rem;
			height: 2rem;
			cursor: pointer;
		}
	}

}

//Grabación
.newgif-record-cnt {
	padding: 2rem;
	width: 50%;
	height: 20rem;
	border: 1px solid $violet;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	text-align: center;
	align-items: center;
	position: relative;

	body.darkMode & {
		border: 1px solid $other_white;
	}
}

.corner {
	width: 1.7rem;
	height: 1.7rem;
	position: absolute;
}

.up-left {
	border-top: 1px solid $green;
	border-left: 1px solid $green;
	top: 1.25rem;
	left: 1.25rem;
}
.up-right {
	border-top: 1px solid $green;
	border-right: 1px solid $green;
	top: 1.25rem;
	right: 1.25rem;
}

.down-left {
	border-bottom: 1px solid $green;
	border-right: 1px solid $green;
	bottom: 1.25rem;
	right: 1.25rem;
}
.down-right {
	border-bottom: 1px solid $green;
	border-left: 1px solid $green;
	bottom: 1.25rem;
	left: 1.25rem;
}

.newgif-record-content {
	.newgif-title {
		font-family: $montserrat;
	}
	.newgif-text {
		padding-top: 10px;
		color: black;

		body.darkMode & {
			color: $other_white;
		}
	}
}

.newgif-video {
	min-width: 80%;
	min-height: 20rem;
	max-width: 80%;
	max-height: 20rem;
	z-index: 3000;
}

.newgif-video-record {
	width: 100%;
	z-index: 3000;
}

.cover { 
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: $violet_soft;
	color: $other_white;
	z-index: 90;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.cover-cnt {
		display: flex;
		flex-direction: column;
	}

	.cover-icon {
		margin: 0.8rem;
	}
}

.newgif-movie {
	max-width: 25%;
	height: 20rem;
	padding-top: 18rem;
	padding-left: 1.5rem;
}

//Pasos de grabación
.steps-cnt {
	margin: 0 auto;
	width: 75%;
	width: fit-content;
	justify-self: flex-end;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	text-align: center;

	.step {
		width: 2rem;
		height: 2rem;
		padding-top: 0.2em;
		margin: 1.5rem 0.5rem 1.5rem 0.5rem;
		border: 1px solid $violet;
		border-radius: 50%;
		font-size: 1.2em;

		body.darkMode & {
			border: 1px solid $other_white;
		}
	}

	.step-active {
		background-color: $violet;
		color: $other_white;
	}
}

.counter-cnt {
	width: 25%;
	text-align: right;
	position: absolute;
	top: 79%;
	right: 24%;

	.counter-text {
		font-family: $montserrat;
		font-size: 16px;

		line-height: 22px;
	}
}

#counter-newshot {
	color: $violet;
	text-decoration: none;

	&:hover {
		border-bottom: 2px solid $green;
	}

	&:active {
		color: $gray_soft;
		border-bottom: hidden;
	}
}

.newgif-bottom-line {
	width: 58%;
	margin: 0 auto;
	border: 2px solid $violet;
}

//-MEDIA QUERIES-//
//Vista desktop bigger
@media screen and (min-width: $desktop_bigger) {
	.newgif-section {
		padding-top: 10%;
	}
}

//Vista desktop generica
@media screen and (min-width: $generic) {
	.newgif-section {
		padding-top: 9%;
	}
}
