$violet: #572ee5;
$green: #50e3c2;
$white: #f3f5f8;
$gray_soft: #9cafc3;
$gray_dark_back: #37383c;
$black_back: #222326;
$violet_soft: rgba(87, 46, 229, 0.6);
$other_white: #fff;
$mobile: 400px;
$tablet: 768px;
$desktop: 1024px;
$desktop_bigger: 1280px;
$generic: 1530px;
$transition: 0.3s ease-in-out; 
$roboto: 'Roboto', sans-serif;
$montserrat: 'Montserrat', sans-serif;

